{{ template "header.html" .}}

<form action="/create" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control">
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image">
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" rows="8" cols="80" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Create">
  </div>
</form>

{{ template "footer.html" .}}
